{% extends 'registration_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Navadhiti_Notemaker {% endblock %}
<!-- {% load humanize %} -->
{% block content %}
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 50px;">
    <div class="row text-center">
        <div class="col">
            <h1>HI.....Mate</h1>
            <hr style="width: 100px; border: 0.5px solid; margin-bottom: 50px;">
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3">

            <h4></h4>
            <p>
                Made With love by Jayas P Jacob
            </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-light" style="margin-top: 20px;">
    <div class="row text-center">
        <div class="col" style="margin-top: 20px;">
            <h1>Navadhiti</h1>
            <hr style="width: 100px; border: 0.5px solid; margin-bottom: 50px;">
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <p>
               Checkout Navadhiti: <a href="https://www.navadhiti.com/" target="_blank">https://www.navadhiti.com/</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
